
/*CSS related to home.php*/

body {
  background-color: #fffdea;
}

svg {
  /*height:500px;
  width:960px;*/
  margin:50px 0px;
  padding: 0px;
}

.nav {
  text-align: center;
}

.sections {
  display:none;
  margin:0px;
  padding:0px;
}

div p{
  text-align: justify;
}

footer {
  position: relative;
  bottom:0px;
  width:300px;
  height: 20px;
  clear:both;
  padding-top:20px;
  text-align: center;
  font-size: 12px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #f44336;
  background-color: white;
  padding: 15px 32px;
  margin: 10px 5px;
}

h2 {
  font-family: Verdana;
  text-align: center;
  font-size: 20px;
  border: solid 2px;
  padding: 10px 22px;
  background-color: white;
}

.graphic-btn {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px 8px 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.graphic-btn:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.graphic {
  margin-top: 0px;
  text-align: center;
  visibility: hidden;
}

select {
  position:
  margin: 30px 10px;
  border: 1px solid #111;
  width: auto;
  padding: 5px 10px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}

/*CSS related to graphic1.js*/

#chart {
  height: 80px;
  position: relative;
  width: 200px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 4px;
  font: 14px sans-serif;
  color: white;
  background: black;
  border: 2px solid;
  border-radius: 8px;
  pointer-events: none;
}

.path {
  opacity: 0.8;
}

.path:hover {
  opacity: 1.0;
  stroke: #000;
  stroke-width: 1px;
}

/*CSS related to graphic2.js*/

 .barZone text {
     text-align: center;
     color: #fff;
     font-size: 0.9rem;
     pointer-events: none;
 }

 .legend {
     font-size: 1rem;
 }

 .yAxisLabel,.xAxisLabel{
     font-size: 1.5rem;
 }
 .toolTip {
   position: absolute;
   text-align: center;
   width: 190px;
   height: 60px;
   padding: 4px;
   font: 14px sans-serif;
   color: white;
   background: black;
   border: 2px solid;
   border-radius: 8px;
   pointer-events: none;
 }
 .bar{
     pointer-events: all;
     cursor:pointer;
 }
 h4{
     padding: 0;
     margin: 0;
     /*text-align: center;*/
 }

/*CSS related to graphic3.js*/

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
